@import "tailwindcss";
@plugin "daisyui";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --color-base-100: oklch(100% 0 0); /* Always white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-100: oklch(100% 0 0); /* Force white even in dark mode */
  }
}


body {
  /* background: var(--background);
  color: var(--foreground); */
  /* background-color: white; */
  font-family: Arial, Helvetica, sans-serif;
}
